/* Estilo Global */
* {
    background: #EAE4DD;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #295F98;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo del Logo */
.logo {
    padding: 10px;
    margin-left: 20px;
    width: 4%;
}

/* Estilo del Contenedor Principal */
.main {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 50px;
}

/* Estilo del Área de Texto */
.texto__area, .mensaje__encriptado {
    width: 100%;
    max-width: 500px;
    height: 400px;
    padding: 20px;
    border: 2px solid #295F98;
    border-radius: 12px;
    background-color: #E1D7C6;
    color: #295F98;
    resize: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    line-height: 1.5;
}

::placeholder {
    color: #295F98;
}

.texto__area:focus, .mensaje__encriptado:focus {
    outline: none;
    border-color: #CDC2A5;
}

/* Estilo de Botones */
.botones {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.boton__encriptar, .boton__desencriptar, .copiar {
    background-color: #295F98;
    color: #EAE4DD;
    border: none;
    border-radius: 24px;
    cursor: pointer;
    height: 50px;
    width: 150px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.boton__desencriptar {
    background-color: #CDC2A5;
}

.boton__encriptar:hover, .boton__desencriptar:hover, .copiar:hover {
    background-color: #295F98;
    color: #E1D7C6;
}

/* Estilo del Mensaje Encriptado */
.mensaje__encriptado {
    background-color: #E1D7C6;
    background-image: url(img/ilustracion.png);
    background-repeat: no-repeat;
    background-position: center;
    border: 2px solid #295F98;
}

/* Botón Copiar */
.copiar {
    margin-top: 30px;
    width: 100%;
    max-width: 500px;
    align-self: center;
}

/* Estilo de la Información */
.informacion {
    color: #295F98;
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
}
